@media only screen and (min-width: 200px) {
.barra--background {
    background-color: black !important;
  }
  .barra__logo--margin{
    margin: 10px 0 10px 5%;

  }
  
  .barra__item--margintop {
    margin-top: 10px;
  }
  .barra__button {
    margin: 0 5% 0 0;
  }

  .sticky {
    position: sticky;
    top: 0;
    z-index: 1020;
  }
  .navbar{
    padding:0;
  }
  nav{
    text-align:center;
  }

  ul{
        li {
            a {
                color:yellow !important;
            }
        }
  }

    .nav-link:focus, .nav-link:hover{
    text-decoration: underline;
    }

    .navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
        color:yellow!important;
    }
    .navbar-dark .navbar-nav .nav-link {
        color: rgba(255, 255, 0, 0.5) !important;
    }
    .nav-item {
      box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.9);
    }
    .nav-item:hover {
      background-color:rgba(51, 56, 60, 0.4);
    }
    

}

@media only screen and (min-width: 992px) {

  .barra__item--margintop {
    margin: 15px 25px 0 25px;
  }

  .barra__item--margin{
    margin: 15px 25px 0 25px;
}


}